<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Halfie</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.709079413589-1dskf4nnobui3idfhjr5cke2m26tjiqo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>GMSApiKey</key>
	<string>AIzaSyDfo9xOT15oGYnrYqQL_Beq9avku_IBl5M</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>20.219.19.207</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>This app requires full access to your calendar to manage events.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera for taking pictures.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID for authentication.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to provide services based on your current location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires your location for continuous location tracking.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>PurposeKey</key>
		<string>We need access to your location for specific features.</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires your location to provide location-based services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to the microphone for recording videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to add videos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select images.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use your data to provide personalized notifications.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
